:root {
  --primary-color: #b2d8c3;
  --primary-color-darker: #43906e;
  --primary-color-blue: #237d7e;
  --text-color: #383838;
}
.presentContainer {
    margin-top: 100px;
  background-color: #f0f0f0;
  padding: 100px 100px 100px 100px;
}
.presentBox {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.presentImageBox {
  width: 50%;
}
.presentImg {
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.presentData {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.presentTitle {
}
.presentDescription {
    color: var(--text-color);
  width: 70%;
  justify-self: center;
}
.presentLink {
  color: var(--primary-color-darker);
}
