/* Base styles */
.paletsContainer {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.palets {
  margin: 0 auto;
  width: 400px;
  height: 420px;
  border: 10px solid yellow outset;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.exportAndUploadBox {
  margin-left: 73vw;
  display: flex;
  align-items: center;
}
.downloadImgEditPage {
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid rgb(219, 219, 219);
  background-color: var(--primary-color-darker);
  cursor: pointer;
}
.downloadImgEditPage svg {
  font-size: 1.2rem;
  color: rgb(240, 240, 240);
}
.downloadImgEditPage:hover {
  background-color: var(--primary-color-blue);
}

.quarterCircle {
  width: 100px;
  height: 100px;
  background-color: pink;
  border-radius: 0 100% 0 0;
}
.iconDeleteItems {
  padding: 5px;
  color: red;
  border-radius: 2px;
}

/* Responsive styles */
@media (max-width: 1200px) { /* Laptops */
  .paletsContainer {
    width: 400px;
  }

  .exportAndUploadBox {
    margin-left: 70vw;
  }
}

@media (max-width: 768px) { /* Tablets */
  .paletsContainer {
    width: 400px;

  }

  .exportAndUploadBox {
    margin-left: 50vw;
  }

}

@media (max-width: 480px) { /* Mobile */
  .paletsContainer {
    width:240px;
  }
  .palets {
    height: 220px;
  }
  .exportAndUploadBox {
    margin-left: 40vw;
    flex-direction: column;
    align-items: flex-start;
  }

}
