.palets{
    margin: 0 auto;
    width: 400px;
    height: 420px;
    border: 10px solid yellow outset;
    padding: 10px;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
}
