.palets{
    margin: 0 auto;
    width: 400px;
    height: 420px;
    border: 10px solid yellow outset;
    padding: 10px;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
}
.unselectable {
    user-select: none;       /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    -webkit-user-drag: none;  /* Prevent image drag in Safari/Chrome */
    -khtml-user-drag: none;   /* Prevent image drag in Konqueror */
    -moz-user-drag: none;     /* Prevent image drag in Firefox */
    -o-user-drag: none;       /* Prevent image drag in Opera */
    user-drag: none;          /* Standard syntax */
  }