.lastChangesBox{
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px 1px #336d5459;
}
.lastChangesImgBox{
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.305);
    margin: 1rem 2.4rem;
    width: 15vw;
    max-width:21vw;
    border-radius: 10px;
    transition: 0.2s  ease-in-out;
    background-color: #c4c4c4;
}
.lastChangesImgBox:hover{
    transform: scale(1.1);
}
.lastChangesImgImage{
    width: 15vw;
    height: 30vh;
    max-width: 15vw;
    border-radius:10px;
}
.lastChangesTitle{
    border-bottom: 3px solid #f6f6f6;
    width: 100%;
}
.lastChangesTitle p{
}
.lastChangesImages{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}