:root {
    --primary-color: #b2d8c3;
    --primary-color-darker: #43906e;
    --primary-color-blue: #237d7e;
    --text-color: #383838;
  }
.profileHeaderBox{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #336d5459;
}
.profileImageBox{
    border-left: 3px solid #e5e5e5;

}
.profileImage{
    width: 150px;
    height: 150px;
}
.userDataBox{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    margin-right: 20px;
}
.logOutBtn{
    width: 100%;
    background-color: var(--primary-color-darker);
    border: none;
    border-radius: 0 0 10px 0;
    color: white;
    cursor: pointer;
    padding: 5px;
}