:root {
  --primary-color: #b2d8c3;
  --primary-color-darker: #43906e;
  --primary-color-blue: #237d7e;
  --text-color: #383838;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 100px;
  box-shadow: 0px 0px 8px 0px rgba(25, 25, 25, 0.75);
}
.logoBox {
}
.logoImage {
  width: 70px;
  height: 70px;
}
.listBox {
}
.listBoxUl {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
}
.listItem a{
  color: var(--text-color);
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.listItem:hover {
  color: var(--primary-color-darker);
}
.registerBox {
}
.registerBtn {
  background-color: var(--primary-color-darker);
  color: rgb(242, 242, 242);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
}
.registerBtn svg{
  margin-right: 5px;
}