.shapes-container{
    border: 1px solid black ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}
.iconShapeBox{
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.iconShapeBox:hover{
    transform: scale(1.1);
}
.iconShape{
    font-size: 20px;
    margin: 5px ;
}