:root {
    --primary-color: #b2d8c3;
    --primary-color-darker: #43906e;
    --primary-color-blue: #237d7e;
    --text-color: #383838;
  }
.AksContainer{
    width: 100%;
    max-width: 100%;
}
.AksBar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.AksBox{
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.305);
    margin: 1rem 2rem;
    width: 15vw;
    max-width: 15vw;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    transition: 0.2s  ease-in-out;
}
.AksBox:hover{
    transform: scale(1.1);
}
.AksImage{
    width: 15vw;
    max-width: 15vw;
    border-radius:10px 10px 0 0;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px; 
}
.AksTitle{

}